@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ek+Mukta:200,300,400,500,600,700,800&subset=devanagari,latin-ext');

body {
  margin: 0;
  padding: 0;
  font-family: 'ff_bau', sans-serif;
  height: 100%;
  background: #3e3e3e;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

textarea,
select,
input,
button {
  outline: none;
}

@font-face {
  font-family: 'fa_brands';
  src: url('./fonts/fa-brands-400.woff2') format('woff2'),
    url('./fonts/fa-light-300.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fa_light';
  src: url('./fonts/fa-light-300.woff2') format('woff2'),
    url('./fonts/fa-light-300.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fa_regular';
  src: url('./fonts/fa-regular-400.woff2') format('woff2'),
    url('./fonts/fa-regular-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fa_solid';
  src: url('./fonts/fa-solid-900.woff2') format('woff2'),
    url('./fonts/fa-solid-900.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lg';
  src: url('./fonts/lg.ttf') format('ttf'),
    url('./fonts/lg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ff_bau';
  src: url('./fonts/FFBauWebPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pitch';
  src: url('./fonts/pitch.otf') format('opentype');
}

@font-face {
  font-family: 'kepler';
  src: url('./fonts/kepler.otf') format('opentype');
}
